/*
 * RESET
 *****************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
/*    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}

/*
 * GENERAL SETUP
 *****************************************************************************/
html { 
    height: 100%; 
}

body { 
    background-color: #f2f2f2;
}

/*
 * Gestion de l'arrière plan
 *****************************************************************************/
.area-bg {
/*    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    position: relative;
}
.area-bg {   }
.area-bg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: url("#{resource['img/ism/bg/imgur.jpg']}")  center  ;
   opacity: 0.35;
}
.area-content {
    position: relative; 
    z-index: 2;
}​






/** ****************************************************************************
 ** ****************************************************************************
    LOGIN PAGE
 ** ****************************************************************************
 ** ***************************************************************************/
/*.login-logo,.register-logo{
    font-size:35px;
    text-align:center;
    margin-bottom:25px;font-weight:300}
.login-logo a,.register-logo a{color:#444}
.login-page,.register-page{
    background: #f2f2f2; #d2d6de;
}
.login-box,.register-box{width:360px;margin:3% auto} 

@media (max-width:768px){
    .login-box,.register-box{width:90%;margin-top:20px}
}
.login-box-body,.register-box-body{background:#fff;padding:20px;color:#444;border-top:0;color:#666}
.login-box-body .form-control-feedback,.register-box-body .form-control-feedback{color:#777}
.login-box-msg,.register-box-msg{margin:0;text-align:center;padding:0 20px 20px 20px}.social-auth-links{margin:10px 0}
.error-page{width:600px;margin:20px auto 0 auto}
@media (max-width:991px){.error-page{width:100%}}.error-page>.headline{float:left;font-size:100px;font-weight:300}@media (max-width:991px){.error-page>.headline{float:none;text-align:center}}.error-page>.error-content{margin-left:190px;display:block}*/











.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;



}





.login-form {
    margin-top: 60px;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
form[role=login] input,
form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
}
form[role=login] > div {
    text-align: center;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}
.form-links a {
    color: #fff;
}



/*
 * WELCOME TEXT
 *****************************************************************************/
#welcome {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.05em;
/*    margin-bottom: 20px;
    padding: .1em 0;*/
    color: #444;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    /*width: 50%;*/
}
#welcome:before,
#welcome:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 35%;
    height: 1px;
    vertical-align: middle;
    background: #aaa;
}
#welcome:before {    
    left: -.5em;
    margin: 0 0 0 -50%;
}
#welcome:after {    
    left: .5em;
    margin: 0 -50% 0 0;
}
#welcome > span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

/** ****************************************************************************
 ** ****************************************************************************
    Configuration du bouton de selection de société
 ** ****************************************************************************
 ** ***************************************************************************/
.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: auto !important;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    /* padding: 0 3px; */
}
